rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /usuarios/{document} {
      allow read, write: if true;
    }

    match /agendamentos/{document} {
      allow read, write: if true;
    }
  }
} 