
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil-psicologo"></ion-back-button>
    </ion-buttons>
    <ion-title>Minha Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agendamentos do Dia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Selecionar Data</ion-label>
        <ion-datetime-button datetime="datetime-agenda"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime-agenda" presentation="date" [(ngModel)]="dataSelecionada" (ionChange)="carregarAgendamentosDoDia()"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-list *ngIf="agendamentos$ | async as agendamentos; else noAppointments">
        <ion-item-sliding *ngFor="let agendamento of agendamentos">
          <ion-item>
            <ion-label>
              <h2>{{ formatarDataHora(agendamento.dataHora) }} - {{ agendamento.pacienteEmail }}</h2>
              <p>Duração: {{ agendamento.duracaoMinutos }} min</p>
              <p>Status: <strong>{{ agendamento.status }}</strong></p>
              <p *ngIf="agendamento.observacoes">Obs: {{ agendamento.observacoes }}</p>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="success" (click)="atualizarStatus(agendamento.id!, 'confirmada')">
              <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
              Confirmar
            </ion-item-option>
            <ion-item-option color="danger" (click)="atualizarStatus(agendamento.id!, 'cancelada')">
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
              Cancelar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ng-template #noAppointments>
        <ion-item>
          <ion-label>Nenhum agendamento para a data selecionada.</ion-label>
        </ion-item>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>